# Frontend
travel-go-frontend/node_modules/
travel-go-frontend/dist/
travel-go-frontend/.env

# Backend
travel-go-backend/venv/
travel-go-backend/.env
travel-go-backend/__pycache__/
**/__pycache__/
**/*.pyc

# OS
.DS_Store
Thumbs.db